extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Creating a Flow Logic.
              |                 
              hr
              |                 
              p
                | Labore XOXO kogi, laborum tousled assumenda sriracha before they sold out.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Look into it!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Unleash the competitor.
                |                     
                hr.light
                |                     
                p.text-faded
                  | Labore XOXO kogi, laborum tousled assumenda sriracha before they sold out. Labore mlkshk Helvetica Marfa health goth Austin magna sunt, yr aesthetic artisan heirloom chillwave commodo lo-fi.
                |                     
                a.btn.btn-default.btn-xl(href='#') Get Started!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading The Lab Bunny.
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Humble Ragtime
                  |                         
                  p.text-muted  Whatever Tumblr shabby chic squid. Cornhole tousled plaid shabby chic health goth +1 butcher single-origin coffee.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Locavore Austin
                  |                         
                  p.text-muted Tofu try-hard hashtag, Blue Bottle occupy whatever fap Austin deep v raw denim. Locavore Austin farm-to-table McSweeney's cred. 
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Echo Park
                  |                         
                  p.text-muted Echo Park locavore Pitchfork brunch freegan listicle chambray lo-fi typewriter master cleanse. 
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Fanny pack
                  |                         
                  p.text-muted Fanny pack bitters mixtape whatever cold-pressed Kickstarter.
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Pitchfork brunch!
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Start your free trial!
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Endurance Athlete
                      |                                 
                      .project-name
                        | Marge Simpson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Weight Lifter
                      |                                 
                      .project-name
                        | Jack Johnson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Endurance Athlete
                      |                                 
                      .project-name
                        | Reda Niman
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | CrossFitter
                      |                                 
                      .project-name
                        | Magnus Jorgenson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Weight Lifter
                      |                                 
                      .project-name
                        | Liz Vasques
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | CrossFitter
                      |                                 
                      .project-name
                        | Fit Fittington
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Who we are
                |                     
                hr.primary
                |                     
                p
                  | Chillwave salvia tofu, roof party ethical next level PBR&B mustache sustainable forage Pinterest raw denim polaroid art party. Meggings distillery listicle skateboard, typewriter blog Helvetica gluten-free hella chillwave. Schlitz distillery leggings DIY.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 800-Flow-Log
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:post@ferrytoginger.com') Email me!